[submodule "zeromq1"]
	path = zeromq1
	url = https://github.com/zeromq/zeromq1.git
[submodule "disruptor--"]
	path = disruptor--
	url = https://github.com/fsaintjacques/disruptor--.git
[submodule "cube"]
	path = cube
	url = https://github.com/square/cube.git
[submodule "bootstrap"]
	path = bootstrap
	url = git@github.com:twitter/bootstrap.git
[submodule "liquibook"]
	path = liquibook
	url = git@github.com:objectcomputing/liquibook.git
